<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Título de tu aplicación</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <header>
    <h1>Nombre de tu aplicación</h1>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
          <li><a href="{% url 'crea_curso' %}">Crea curso</a></li>
          <li><a href="{% url 'lista_cursos' %}">Lista cursos</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
          <li><a href="{% url 'crea_user' %}">Crear user</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Contenido del pie de página -->
  </footer>
</body>
</html>

