{% extends 'base.html'%}

{% block content %} 
    <h1>Creando cursos</h1>
    {{error}}
    <form action="/crea_curso/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
        <button>
            Guardar
        </button>
    </form>


{% endblock %}  