{% extends 'base.html' %}

{% block content %}
    <h1> curso detalle</h1>
    <p> {{Curso.nombre}} </p>
    {{error}}
    <form method = "POST">
        {% csrf_token %}
        {{form.as_p }}
        <button>
            Actualizar
        </button>
    </form>
    
    <form action="{% url 'curso_borra' Curso.id %}" method="POST">
        {% csrf_token %}
        {{form.as_p }}
        <button>
            Borrar
        </button>
    </form>
{% endblock %}