{% extends 'base.html' %}

{% block content %}
<h1>Cursos</h1>
<ul>
    {% for c in cursos %}
    <li>
        <a href="{% url 'curso_detalle' c.id %}">
            <p>{{c.nombre}}, {{c.creditos}}</p>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}