{% extends 'base.html' %}

{% block content %}
  <h2>Iniciar sesión</h2>

  {{error}}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Iniciar sesión</button>
  </form>
{% endblock %}
